# **Extended `application`**

# Table de base

In [2]:
from home_credit.tables import Application

data = Application.clean()

display(data)

CLEAN_APPLICATION,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,0,0,1,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,0,0,0,1
100003,0,Cash loans,1,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0,0,0,0,0,0
100004,0,Revolving loans,0,1,1,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,0,0,0,0
100006,0,Cash loans,1,0,1,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,-1,-1,-1,-1,-1,-1
100007,0,Cash loans,0,0,1,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,255,Cash loans,1,0,1,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0,0,0,0,0,1
456222,255,Cash loans,1,0,0,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,-1,-1,-1,-1,-1,-1
456223,255,Cash loans,1,1,1,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0,0,0,0,3,1
456224,255,Cash loans,0,0,0,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0,0,0,0,0,2
456250,255,Cash loans,1,1,0,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0,0,0,0,1,4

# Tables périphériques agrégées

## **`bureau`** étendue groupée par client

In [ ]:
from home_credit.groupby import get_extended_clean_bureau_by_client

## **`previous_application`** étendue groupée par client

In [ ]:
from home_credit.groupby import get_extended_clean_previous_application_by_client

# Adjonction

In [ ]:
import pandas as pd
from home_credit.tables import Bureau, BureauBalance
from home_credit.groupby import (
    get_bureau_loan_status,
    get_bureau_mean_loan_activity,
    get_bureau_loan_status_by_month,
    get_bureau_loan_activity_by_month,
    get_rle_bureau_loan_feature_variations
)

clean_bureau_params = {}
clean_previous_application_params = {}

def get_extended_clean_application(
    clean_bureau_params : dict,
    clean_previous_application_params: dict
) -> pd.DataFrame:
    data = Application.clean()
    data_ext = data.reset_index()
    def adj_to_data_ext(adj_data):
        on_and_how = {"on": "SK_ID_CURR", "how": "outer"}
        return pd.merge(left=data_ext, **on_and_how, right=adj_data)

    
    
    # ...