# **Extended `application`**

# Load base clean data

356,255 clean entries.

In [1]:
from home_credit.tables import Application
from home_credit.utils import display_frame_basic_infos
from pepper.univar import print_value_counts_dict

data = Application.clean()
display_frame_basic_infos(data)
for col in Application.cols_group("all_cats"):
    print_value_counts_dict(data, col)
display(data)
# ok data.info()

n_samples: 356 255
n_columns: 121, [('FLAG', 28), ('NAME', 6), ('DAYS', 5), ('CNT', 2), ('AMT', 10), ('APARTMENTS', 3), ('BASEMENTAREA', 3), ('CODE', 1), ('COMMONAREA', 3), ('DEF', 2), ('ELEVATORS', 3), ('EMERGENCYSTATE', 1), ('ENTRANCES', 3), ('EXT', 3), ('FLOORSMAX', 3), ('FLOORSMIN', 3), ('FONDKAPREMONT', 1), ('HOUR', 1), ('HOUSETYPE', 1), ('LANDAREA', 3), ('LIVE', 2), ('LIVINGAPARTMENTS', 3), ('LIVINGAREA', 3), ('NONLIVINGAPARTMENTS', 3), ('NONLIVINGAREA', 3), ('OBS', 2), ('OCCUPATION', 1), ('ORGANIZATION', 1), ('OWN', 1), ('REG', 4), ('REGION', 3), ('TARGET', 1), ('TOTALAREA', 1), ('WALLSMATERIAL', 1), ('WEEKDAY', 1), ('YEARS', 6)]
CODE_GENDER (3): {1: 235126, 0: 121125, 2: 4}
NAME_CONTRACT_TYPE (2): {'Cash loans': 326537, 'Revolving loans': 29718}
NAME_INCOME_TYPE (8): {'Working': 183307, 'Commercial associate': 83019, 'Pensioner': 64635, 'State servant': 25235, 'Unemployed': 23, 'Student': 20, 'Businessman': 11, 'Maternity leave': 5}
NAME_EDUCATION_TYPE (5): {'Secondary / secondary special': 252379, 'Higher education': 87379, 'Incomplete higher': 12001, 'Lower secondary': 4291, 'Academic degree': 205}
OCCUPATION_TYPE (19): {None: 111996, 'Laborers': 63841, 'Sales staff': 37174, 'Core staff': 31931, 'Managers': 24945, 'Drivers': 21376, 'High skill tech staff': 13234, 'Accountants': 11441, 'Medicine staff': 9853, 'Security staff': 7636, 'Cooking staff': 6840, 'Cleaning staff': 5309, 'Private service staff': 3107, 'Low-skill Laborers': 2365, 'Waiters/barmen staff': 1526, 'Secretaries': 1518, 'Realty agents': 889, 'HR staff': 667, 'IT staff': 607}
ORGANIZATION_TYPE (58): {'Business Entity Type 3': 78832, 'XNA': 64648, 'Self-employed': 44332, 'Other': 19390, 'Medicine': 12909, 'Business Entity Type 2': 12032, 'Government': 11912, 'School': 10180, 'Trade: type 7': 9134, 'Kindergarten': 7918, 'Construction': 7760, 'Business Entity Type 1': 6871, 'Transport: type 4': 6282, 'Trade: type 3': 4070, 'Industry: type 9': 3867, 'Industry: type 3': 3767, 'Security': 3719, 'Housing': 3393, 'Military': 3164, 'Industry: type 11': 3120, 'Bank': 2881, 'Police': 2782, 'Agriculture': 2746, 'Transport: type 2': 2652, 'Postal': 2451, 'Security Ministries': 2315, 'Trade: type 2': 2142, 'Restaurant': 2095, 'Services': 1877, 'University': 1548, 'Industry: type 7': 1524, 'Transport: type 3': 1361, 'Industry: type 1': 1217, 'Electricity': 1106, 'Hotel': 1100, 'Industry: type 4': 1044, 'Trade: type 6': 753, 'Industry: type 5': 696, 'Insurance': 677, 'Telecom': 672, 'Emergency': 651, 'Industry: type 2': 535, 'Advertising': 500, 'Realtor': 468, 'Industry: type 12': 446, 'Culture': 440, 'Trade: type 1': 412, 'Mobile': 362, 'Legal Services': 358, 'Cleaning': 303, 'Transport: type 1': 236, 'Industry: type 6': 139, 'Industry: type 10': 133, 'Religion': 97, 'Trade: type 4': 78, 'Industry: type 13': 73, 'Trade: type 5': 58, 'Industry: type 8': 27}
NAME_HOUSING_TYPE (6): {'House / apartment': 316513, 'With parents': 17074, 'Municipal apartment': 12800, 'Rented apartment': 5599, 'Office apartment': 3024, 'Co-op apartment': 1245}
NAME_TYPE_SUITE (8): {'Unaccompanied': 288253, 'Family': 46030, 'Spouse, partner': 12818, 'Children': 3675, None: 2203, 'Other_B': 1981, 'Other_A': 975, 'Group of people': 320}
NAME_FAMILY_STATUS (6): {'Married': 228715, 'Single / not married': 52480, 'Civil marriage': 34036, 'Separated': 22725, 'Widow': 18297, 'Unknown': 2}

CLEAN_APPLICATION,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1,Cash loans,1,0,1,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0,0,0,0,0,0
100002,1,Cash loans,0,0,1,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,0,0,0,1
100003,0,Cash loans,1,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0,0,0,0,0,0
100004,0,Revolving loans,0,1,1,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,0,0,0,0
100005,-1,Cash loans,0,0,1,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,0,Cash loans,0,0,0,0,157500.0,254700.0,27558.0,225000.0,...,0,0,0,0,-1,-1,-1,-1,-1,-1
456252,0,Cash loans,1,0,1,0,72000.0,269550.0,12001.5,225000.0,...,0,0,0,0,-1,-1,-1,-1,-1,-1
456253,0,Cash loans,1,0,1,0,153000.0,677664.0,29979.0,585000.0,...,0,0,0,0,1,0,0,1,0,1
456254,1,Cash loans,1,0,1,0,171000.0,370107.0,20205.0,319500.0,...,0,0,0,0,0,0,0,0,0,0
456255,0,Cash loans,1,0,0,0,157500.0,675000.0,49117.5,675000.0,...,0,0,0,0,0,0,0,2,0,1

# Tables périphériques agrégées

## **`bureau`** étendue groupée par client

In [ ]:
from home_credit.groupby import get_extended_clean_bureau_by_client

## **`previous_application`** étendue groupée par client

In [ ]:
from home_credit.groupby import get_extended_clean_previous_application_by_client

# Adjonction

In [ ]:
import pandas as pd
from home_credit.tables import Bureau, BureauBalance
from home_credit.groupby import (
    get_bureau_loan_status,
    get_bureau_mean_loan_activity,
    get_bureau_loan_status_by_month,
    get_bureau_loan_activity_by_month,
    get_rle_bureau_loan_feature_variations
)

clean_bureau_params = {}
clean_previous_application_params = {}

def get_extended_clean_application(
    clean_bureau_params : dict,
    clean_previous_application_params: dict
) -> pd.DataFrame:
    data = Application.clean()
    data_ext = data.reset_index()
    def adj_to_data_ext(adj_data):
        on_and_how = {"on": "SK_ID_CURR", "how": "outer"}
        return pd.merge(left=data_ext, **on_and_how, right=adj_data)

    
    
    # ...