# **Grouped `credit_card_balance`**

# Data Loading and Preprocessing

**Time:** 1.4 s for 3,840,312 entries.

In [8]:
from home_credit.load import get_table
from pepper.utils import display_key_val

# Load the 'credit_card_balance' table
data = get_table("credit_card_balance").copy()

# Adjust the 'MONTHS_BALANCE' column to ensure consistency
data.MONTHS_BALANCE = -data.MONTHS_BALANCE

# Insert the aggregation counter
data.insert(0, "n_PREV", 1)

# Display the number of samples in the dataset
display_key_val("number of samples", data.shape[0])

# Display the dataset
display(data)

number of samples: 3 840 312

RAW_CREDIT_CARD_BALANCE,n_PREV,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1,2562384,378907,6,56.970,135000,0.0,877.5,0.0,877.5,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,1,2582071,363914,1,63975.555,45000,2250.0,2250.0,0.0,0.0,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1,1740877,371185,7,31815.225,450000,0.0,0.0,0.0,0.0,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1,1389973,337855,4,236572.110,225000,2250.0,2250.0,0.0,0.0,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1,1891521,126868,1,453919.455,450000,0.0,11547.0,0.0,11547.0,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1,1036507,328243,9,0.000,45000,NaN,0.0,NaN,NaN,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840308,1,1714892,347207,9,0.000,45000,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
3840309,1,1302323,215757,9,275784.975,585000,270000.0,270000.0,0.0,0.0,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0
3840310,1,1624872,430337,10,0.000,450000,NaN,0.0,NaN,NaN,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840311,1,2411345,236760,10,0.000,157500,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0