# **Grouped `pos_cash_balance`**

# Data Loading and Preprocessing

**Time:** 0.7 s for 10,001,358 entries.

In [3]:
from home_credit.load import get_table
from pepper.utils import display_key_val

# Load the 'pos_cash_balance' table
data = get_table("pos_cash_balance").copy()

# Adjust the 'MONTHS_BALANCE' column to ensure consistency
data.MONTHS_BALANCE = -data.MONTHS_BALANCE

# Insert the aggregation counter
data.insert(0, "n_PREV", 1)

# Display the number of samples in the dataset
display_key_val("number of samples", data.shape[0])

# Display the dataset
display(data)

number of samples: 10 001 358

RAW_POS_CASH_BALANCE,n_PREV,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1,1803195,182943,31,48.0,45.0,Active,0,0
1,1,1715348,367990,33,36.0,35.0,Active,0,0
2,1,1784872,397406,32,12.0,9.0,Active,0,0
3,1,1903291,269225,35,48.0,42.0,Active,0,0
4,1,2341044,334279,35,36.0,35.0,Active,0,0
...,...,...,...,...,...,...,...,...,...
10001353,1,2448283,226558,20,6.0,0.0,Active,843,0
10001354,1,1717234,141565,19,12.0,0.0,Active,602,0
10001355,1,1283126,315695,21,10.0,0.0,Active,609,0
10001356,1,1082516,450255,22,12.0,0.0,Active,614,0
10001357,1,1259607,174278,52,16.0,0.0,Completed,0,0